#header { background: #44484F url('images/green/head.jpg') bottom center no-repeat; }
a, a:hover, .entry p a:visited { color: #206E01; }
h2 a:hover, h3 a:hover { color: #3DB306; }
.entry p a { border-bottom: 1px dotted #206E01; }
.entry p a:hover { border-bottom: 1px solid #206E01; text-decoration: none; }
#sidebar li { list-style-image: url(images/green/star.gif); }
#wp-calendar a { font-weight: bold; }
.cal { background: #4CB306 url(images/green/cal_bg.jpg) repeat-x; }

.calborder { 
  background: #C1F897;
  border: 1px solid #3DB306;
}
