#header { background: #44484F url('images/pink/head.jpg') bottom center no-repeat; }
a, h2 a:hover, h3 a:hover, .entry p a:visited { color: #F02B88; }
a:hover { color: #8B203D; }
#sidebar li { list-style-image: url(images/pink/star.gif); }
.cal { background: #C92155 url(images/pink/cal_bg.jpg) repeat-x; }

.calborder { 
  background: #FFA1C9;
  border: 1px solid #8B203D;
}