#header { background: #44484F url('images/purple/head.jpg') bottom center no-repeat; }
a, h2 a:hover, h3 a:hover, .entry p a:visited { color: #B53492; }
a:hover { color: #7F2D66; }
#sidebar li { list-style-image: url(images/purple/star.gif); }
#wp-calendar a { font-weight: bold; }
.cal { background: #B53492 url(images/purple/cal_bg.jpg) repeat-x; }

.calborder { 
  background: #F4ABE9;
  border: 1px solid #7F2D66;
}