#header { background: #44484F url('images/red/head.jpg') bottom center no-repeat; }
a, h2 a:hover, h3 a:hover, .entry p a:visited { color: #CC1F27; }
a:hover { color: #6E0F01; }
#sidebar li { list-style-image: url(images/red/star.gif); }
.cal { background: #B31706 url(images/red/cal_bg.jpg) repeat-x; }

.calborder { 
  background: #F89799;
  border: 1px solid #6E0F01;
}