html .mceContentBody {
   max-width: 600px;
}
* {
	color: #333;
	font: 13px "TitilliumText22LRegular", Arial, sans-serif;
	font-style: inherit;
	font-weight: inherit;
	line-height: 1.6em;
}
body {
	color: #333;
	font: 13px "TitilliumText22LRegular", Arial, sans-serif;
	font-weight: 300;
	line-height: 1.6em;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
	margin: 1em 0;
}
h1 {font-size: 22px;}
h2 {font-size: 22px;}
h3 {font-size: 18px;}
h4 {font-size: 16px;}
h5 {font-size: 16px;}
h6 {font-size: 16px;}
p {margin: 1em 0;}
p {line-height: 1.6em;}
em { font-style: italic; }
strong, b { font-weight: bold; }
small { font-size: 80%; }
blockquote {padding: 0 0 0 25px; font-style: italic;}
li {line-height: 1.5em;}
table { border: none; width: 100%;}
table th {font-weight: bold; border-bottom: 1px solid #DCDCDC;}
table tr {border-bottom: 1px dotted #DCDCDC;}
table td {padding: 5px 0;}

img {padding: 3px; border: 1px solid #DCDCDC; max-width: 98%;}
img.size-auto, img.size-full, img.size-large, img.size-medium, .attachment img {height: auto;max-width: 98%;}
img.wp-smiley {background: transparent; border: none; margin: 0; padding: 0;}
.alignright {float: right; margin: 1em 0 1em 1em; display: inline;}
.alignleft {float: left; display: inline; margin: 1em 1em 1em 0;}
.aligncenter {display: block;margin-left: auto;margin-right: auto;clear: both;}
.wp-caption {background: none repeat scroll 0 0 #F6F6F6;border: 1px solid #CED8DF;line-height: 18px;margin-bottom: 20px;max-width: 598px !important;padding: 0;text-align: center; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.wp-caption-text { color: #888888;font-size: 12px;margin: 3px;padding: 0;}
.wp-caption img {border: 0 none; margin: 5px 3px 0; width: 98%; padding: 0;}
.sticky {}
.gallery-caption {}
.bypostauthor {}

/* Font Face */
@font-face {
    font-family: 'TitilliumText22LThin';
    src: url('fonts/TitilliumText22L001-webfont.eot');
    src: url('fonts/TitilliumText22L001-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/TitilliumText22L001-webfont.woff') format('woff'),
         url('fonts/TitilliumText22L001-webfont.ttf') format('truetype'),
         url('fonts/TitilliumText22L001-webfont.svg#TitilliumText22LThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LLight';
    src: url('fonts/TitilliumText22L002-webfont.eot');
    src: url('fonts/TitilliumText22L002-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/TitilliumText22L002-webfont.woff') format('woff'),
         url('fonts/TitilliumText22L002-webfont.ttf') format('truetype'),
         url('fonts/TitilliumText22L002-webfont.svg#TitilliumText22LLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LRegular';
    src: url('fonts/TitilliumText22L003-webfont.eot');
    src: url('fonts/TitilliumText22L003-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/TitilliumText22L003-webfont.woff') format('woff'),
         url('fonts/TitilliumText22L003-webfont.ttf') format('truetype'),
         url('fonts/TitilliumText22L003-webfont.svg#TitilliumText22LRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'TitilliumText22LMedium';
    src: url('fonts/TitilliumText22L004-webfont.eot');
    src: url('fonts/TitilliumText22L004-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/TitilliumText22L004-webfont.woff') format('woff'),
         url('fonts/TitilliumText22L004-webfont.ttf') format('truetype'),
         url('fonts/TitilliumText22L004-webfont.svg#TitilliumText22LMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}