/* Jello -- start copying here * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
body {
	padding: 0 495px 0 495px;
	margin: 0;
	text-align: center;
	background: #fff;
	color: #3e3e3e; 
	font-size: medium;
	font-family: Arial,Helvetica,sans-serif;
}
		
#sizer {
	margin: 0 auto 0 auto;
	padding: 0;
	width: 100%;
	max-width: 290px;  /* version for IE is at the bottom of this style block */
}

#expander {
	background: white;
	margin: 0 -495px 0 -495px;
	min-width: 990px; /* Critical Safari fix! */
	position: relative;
}

/* Holly hack for IE \*/
* html #expander { height: 0; }

/* helps IE get the child percentages right. */
#wrapper { width: 100%; } 


/* * --- stop copying, but be sure to grab IE's max-width, just above the body-tag --- * * * * * * * * * * * * * * */
#sidefooter { clear:both; text-align: center; margin: 1em; }
#footer { display: none; clear: both; padding: 0.5em 0 0.5em 0; margin: 1em 5% 1em 5%; border-top: 3px solid black; }


/* http://positioniseverything.net/easyclearing */

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
