/*******************************
*********** Layout *************
********************************/


/*******************************
*********** Header *************
********************************/

#header {
	display: block;
	height: 72px;
	background: #fff url(img/fons.png) repeat-x top left;
 	width: 98%;
	margin: -6px 12px 0 12px;
	text-align: left;
}

#header h1{
	font-size: 10px;
	position: relative;
	padding: 0;
	top: 0;
	width: 342px;
	height: 72px;
	overflow: hidden;
}

/* El truco del almendruco */
#header h1 span {
	position: absolute;
	width: 342px;
	height: 72px;
	top: 0px;
	left: 0;
	margin: 0;
	background: url(img/fonsLogo.png) no-repeat;
}

#header #id {
	background: url(img/fonsLogoDep.png) no-repeat left;
}

#header .logoDepartament {
	float:right;
	background: url(img/xtec.png) no-repeat;
	height:72px;
	width:226px;
}

/**********************************
*********** Header Nav*************
***********************************/
#nav{
		height:35px;
		margin: 12px;
		margin-top: -10px;
}

#nav ul.list {
	background: url(img/fons_nav.png) repeat-x;
	height:35px;
	list-style-type: none;
	text-align: right;
	margin-left:0;
	padding: 4px 0;
}

#nav ul.list li {
	display:inline;
	padding-left: 0.8em;
}

#nav ul.list li a {
	text-decoration: none;
	color: #264478;
	font-size: 0.8em;
	font-weight:bold;
}

#nav .navleftcorner {
	float:left;
	background: url(img/navleftcorner.png) no-repeat;
	height: 35px;
}

#nav .navrightcorner {
	float: right;
	background: url(img/navrightcorner.png) no-repeat;
	height: 35px;
}

#nav .rss{
	/*background: url(img/rss.png) no-repeat;*/
	padding-right: 30px;
	padding-top: 0;
	height: 20px;
	width: 20px;
}

/**********************************
********* Header login*************
***********************************/

li.login {
		text-align:left;
		color: #264478;
		font-size: 0.9em;
		float:left;
		padding-top: 2px;

}

li.login a {
		text-decoration: none;
		color: #264478;
}

/**********************************
********* Contingut ***************
***********************************/

#content {
	width: 62%;
	margin-left: 1%;
	text-align: left;
	display: inline;
	float: left;
	padding-bottom: 3em;

}

#content a{
	color:#1E4588;
	text-decoration:none;
}

#content a:hover{
	color:#1E4588;
	text-decoration:underline;
}

.box {
	margin-right: 12px;
	border: 1px solid #d0dae2;
	-moz-border-radius: 8px;
}
.box  .contentboxheadfons{
	background: #fff url(img/boxfons.png) repeat-x;
	height:14px;
	margin:0;
	padding:4px;
	padding-left:15px;
}

.box h2 {
	font-size: .8em;
	color: #fff;

}

.box .contentboxheadright{
	float:right;
	background: #315f94 url(img/boxright.png) no-repeat right;
	height:22px;
	width:49px;
}

.box .contentboxheadleft{
	float:left;
	margin-left: -2px;
	background: #315f94 url(img/boxleft.png) no-repeat left;
	height:22px;
	width:7px;

}



/*****
****** Bloc destacat *******
               *******/

#bloc_destacat {
	margin: 0;
	margin-left:-1px;
	padding: 0;
	background-color: #d9e8f8;
	-moz-border-radius: 0px 0px 8px 8px;
	height: 98px;
}

#bloc_destacat img {
	float: left;
	padding-right: 0.8em; 
}

#bloc_destacat p {
	font-size: 0.9em;
	margin: 0;
	margin-bottom: 5px;
	padding-top: 0.5em;
	padding-right: 0.8em;
	margin-left: 320px;
}

#bloc_destacat div.clear {
	clear: left;
} 

#bloc_destacat ul li  {
	font-size: .8em;
	text-decoration: none;
	color: #2d2d2d;
	margin: 0px;
} 

#bloc_destacat a {
	text-decoration: none;
	color: #2d2d2d;
}


#bloc_destacat a:hover {
	color: #91beec;
	text-decoration: none;
}

#bloc_destacat ul {
	margin: 0px 0px 0px 390px;
	list-style-image:url(img/fletxa.gif);
}

/*****
******* Login ********
               *******/


div.login {
	margin: 0;
	padding-top: 1em;
	padding-left: 2em;
	padding-right: 1em;
}


div.login h3  {
	margin: 0;
	padding: 0;
	border-bottom:1px solid #D5D5D5;
	color:#1C4387;
	font-size: 1.5em;
}


div.login ol {
	list-style-type: none;
}
div.login form {
	width: 90%;
	margin: 0 auto;
	font-size: 1em;
	background-color: #EFF6FC;
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	padding: 1.5em;
}

div.login form input {
	font-size: 1.3em;
	color: #6f6f6f;
}

div.login form p.button input {
	color: #3c3c3c;
}
/*****
****** Article *******
               *******/
div.article {
	margin: 0;
	padding-top: 1em;
	padding-left: 2em;
	padding-right: 1em;
}

div.article h3 {
	margin: 0;
	padding: 0;
	color: #1C4387;
	font-size: 1.3em;
}

div.article p.data {
	margin: 0;
	padding: 0;
	font-size: 0.85em;
 	color: #8a8a8a;
 	border-bottom:1px solid #d9e8f8;
 	margin-bottom: 10px;
}

div.article p.comentari {
	text-align: right;
	font-size: 0.75em;
}


/****
*****  darrers articles ******
								******/
div.darreres {
	-moz-border-radius: 0px 0px 8px 8px;
	margin: 0;	
	background-color: #eff6fc;
	border-bottom:1px solid #D9E8F8;
	padding-top: 1em;
	padding-bottom: 0em;
}

div.darreres h3 {
	margin: 0px;
	padding: 0;
	color: #1C4387;
	font-size: 1.1em;
	padding-left: 5%;
	padding-bottom: 0.1em;
}


div.darrerArticle {
	background-color: #fff;
	width: 90%;
	margin: 0 auto;
	border-top:1px solid #D9E8F8;
}

div.darrerArticle h4, div.darrerArticle h4 a {
	margin: 0;
	padding: 0;
	padding-left: 0.1em;
	padding-top: 0.1em;
	color:#91BEEC;
	font-size:15px;
	text-decoration:none;
}

div.darrerArticle p {
	margin: 0;
	padding-left: 2em;
	padding-top: 0.1em;	
}

div.darrerArticle p.data {
	font-size: 0.8em;
	color: #888;
	padding-bottom: 0.1em;
	margin-bottom: 1em;
}


/**********************************
*********** Sidebar ***************
***********************************/
#sidebar {
	width: 35%;
	float: right;
	display: inline;
	text-align: left;
	margin-right: 1%;
	background-color: #fff;
	padding-left: 0.7%;
}

#sidebar h2 {
	display: none;
}

#sidebar p.creabloc  {
	width: 346px;
	margin: 0 auto; 
	margin-top: 35px;
	margin-bottom: 10px;
}

#sidebar p.creabloc a{
	font-size: 10px;
	position: relative;
	padding: 0;
	width: 400px;
	height: 67px;
	overflow: hidden;
}

/* El truco del almendruco */
#sidebar p.creabloc a span {
	position: absolute;
	width: 346px;
	height: 65px;
	top: -3px;
	left: 0;
	margin: 0;
	background: url(img/creablog.png) no-repeat;
}


#sidebar p.espaicursos  {
	width: 346px;
	margin: 0 auto; 
	margin-top: 35px;
	margin-bottom: 10px;
}

#sidebar p.espaicursos a{
	font-size: 10px;
	position: relative;
	padding: 0;
/*	width: 346px; */
	width: 400px;
	height: 65px;
	overflow: hidden;
}

/* El truco del almendruco */
#sidebar p.espaicursos a span {
	position: absolute;
	width: 346px;
	height: 64px;
	top: -3px;
	left: 0;
	background: url(img/cursos-i-proves.png) no-repeat;
}

/***** El fondo azulin *****/
#blau {
	background:  url(img/blaufons.png) repeat-x;
	height: 74px;
	margin-top: -36px;
}

#blau .blauleftcorner {
	float:left;
	background: url(img/blauleftcorner.png) no-repeat;
	height:74px;
	width:12px;
}

#blau .blaurightcorner {
	float:right;
	background: url(img/blaurightcorner.png) no-repeat;
	height:74px;
	width:12px;
}

#cel {
	background: #91beec url(img/celfons.png) repeat-x;
	height: 70px;
	margin-top: -30px;
}

#cel .celleftcorner {
	float:left;
	background: url(img/celleftcorner.png) no-repeat;
	height:74px;
	width:12px;
}

#cel .celrightcorner {
	float:right;
	background: url(img/celrightcorner.png) no-repeat;
	height:74px;
	width:12px;
}

/*****
****** Sidebars   *******
****** Left/Right *******
                  *******/
#sideleft {
	margin: 0;
	margin-left: -10px;
	padding: 0;
	text-align: left;
	float: left;
	width: 47%;
}

#sideright {
	margin: 0;
	margin-right: -10px;
	padding: 0;
	text-align: left;
	width: 47%;
	float: right;
	padding-left: 12px;
}

.sidebox{
	margin-bottom: 10px;
}


.sidebox h3.noticies {
	background: #315f94 url(img/boxfons.png) repeat-x;
	color:#fff;
	font-size: 0.8em;
	font-weight: bold;
	padding: 4px 0 0 4px;
	height:18px;
}

.sideboxleft {
	float:left;
	background: #315f94 url(img/boxleft.png) no-repeat left;
	margin-left: -1px;
	height:22px;
	width:7px;
}
.sideboxright {
	float:right;
	background: #315f94 url(img/boxright.png) no-repeat right;
	height:22px;
	width:49px;
}

#sidebar #sideleft .sidecontent{
	background-color: #e8eff5;
	padding: 10px;
	margin-top:-15px;
	
	border: 1px solid #d0dae2;
	-moz-border-radius: 0 0 8px 8px;
}

#sidebar #sideright .sidecontent{
	background-color: #fff;
	padding: 10px;
	margin-top:-15px;
	border: 1px solid #d0dae2;
	-moz-border-radius: 0 0 8px 8px;
}

#sidebar #sideleft ul {
	margin: 0;
	padding: 0;
	padding-left: 1em;
	list-style-image:url(img/fletxaleft.png);
}

#sidebar #sideright ul {
	margin: 0;
	padding: 0;
	padding-left: 1em;
	list-style-image:url(img/fletxaright.png);
}

#sidebar ul li a {
	font-size: .8em;
	text-decoration: none;
	color: #2d2d2d;
}

#sidebar ul li a:hover {
	color: #91beec;
	
}

#sidebar #sideleft .botocerca {
	float:right;
}
#sidebar #sideright .myicon{
	padding-left: 10px;
	vertical-align:middle;
}
/*******************************
****** Secció Descriptors ******
********************************/

div.descriptors, div.descriptorsword {
	list-style-type: none;
	font-size: 1.2em;
	width: 85%;
	margin: auto;
	padding: 1em;
	background-color: #efefef;
	margin-right: 0.5em; 
}

div.descriptors ul {
	list-style-image:url(img/fletxa.gif);
}
div.descriptors li {
	padding-right: 5px;
	font-size: 0.85em;
}

div.descriptorsword ul {
	list-style-image: none;
}
div.descriptorsword li {
	font-size: 0.95em; 
	display: inline;
	padding-right: 5px; 
}

div.descriptors li a, div.descriptorsword li a {
	text-decoration: none;
	color: #3f3f3f;
}

div.descriptors li a:hover, div.descriptorsword li a:hover {
	color: #91beec;
}

/*************************************
****** Secció taula descriptors ******
**************************************/

#content table {
	border: 1px solid #dedede;
	width: 85%;
	margin: 0 auto;
}

#content table td {
	border: 1px solid #dedede;
}

#content table th {
	border: 1px solid #dedede;
	background-color: #efefef;
}

#content table tr {
	border: 1px solid #dedede;
}

/*******************************
****** Secció Cloud Tags *******
********************************/

ul#cloudtags {
	list-style-type: none;
}
ul#cloudtags li {

	display: inline;
	list-style-image: none;
}
ul#cloudtags li#mes, p#mes {
	display: block;
	font-size: 1em;
	text-align: right;	
}

ul#cloudtags li a, ul#cloudtags li#mes a  {
	color: #1E4588;
}


/*******************************
****** Secció Avís Legal *******
********************************/

#sidebar #sidefooter {
	padding-top: 1em;
	width: 320px;
	margin: 0 auto;
}

#sidebar #sidefooter h3 {
	display: none;
}

#sidebar #sidefooter p {
	color:#1C4387;
	font-size:12px;
	font-weight:bold;
}

#sidebar #sidefooter p.logogencat a{
	font-size: 10px;
	position: relative;
	padding: 0;
/*	width: 346px; */
	width: 200px;
	height: 41px;
	overflow: hidden;
}

#sidebar #sidefooter p.logogencat a span{
	position: absolute;
	width: 214px;
	height: 41px;
	top: -10px;
	left: -90px;
	margin: 0;
	background: url(img/gencat.png) no-repeat;

}
/****** Missatges als usuaris ******/

.error {
	width: 80%;
	margin: 0 auto;
	border: 2px solid #df1111;
	font-size: 1.1em;
	text-align: center;
}

.warning {
	color: #de1111;
	font-weight: bold;
}

.warningbox {
	color: #3a3a3a;
	background-color: #FFF600;
	padding: 1.2em;
	font-size: 0.85em;
	-moz-border-radius: 10px;
	text-indent: 5px;
}

.warningbox:before {
	content: url(img/info.gif);
}

.thanks {
	color: #3a3a3a;
	background-color: #8fce8f;
	border: 1px  solid #517951;
	padding: 1em;
	font-size: 0.8em;
	-moz-border-radius: 10px;
}

.clear {
    clear:both;
}
